@charset "UTF-8";
.container{
	width:100%;
	height:100%;
}

.innerContainer{
	width:270px;
	height:1000px;
	display:flex;
	justify-content:center;
	align-content:center;
	flex-wrap:nowrap;
	margin:0 auto;
	
}

.tableContainer{
	width:100%;
	height:700px;
	
}

.imgContainer{
	width:10px;
	height:10px;
}
